*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border: none;
    list-style: none;
    text-decoration: none;
    font-style: none;
}

:root{
    --transition: all 0.3s ease 0s;
    --primary-black: #101010;
    --secondary-white: #898990;
    --primary-white: #E4E4E4;
    --hover-blue: rgb(125, 169, 235);
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--primary-white);
    background-color: var(--primary-black);
    margin-top: 75px;
    overflow-x: hidden;
    position: relative;
}

.main{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    padding-bottom: 3rem;
}

.section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
